.App-header {
    background: url('https://res.cloudinary.com/dnguyen/image/upload/v1598592554/namphuong/store-bg_azstp0_kdgik5.png');
    background-size: cover;
    background-position: center;
    height: 60vmin;
    padding-top: 15%;
  }
