.App-header {
    background: url('https://res.cloudinary.com/dnguyen/image/upload/ar_16:9,b_rgb:7c7979,c_fill,e_oil_paint:0,g_auto,z_1.2/v1567927617/namphuong/background_kcopck.jpg');
    background-size: cover;
    background-position: center;
    height: 70vmin;
  }